
<h2><%= t('articles.articles') %></h2>

<br />
	
<% @articles.each do |article| %>
		<h3><%= link_to article.title, article_path(article) %></h3>
		<p><%= article.text %></p>

		<p>
			<%= link_to t('articles.show'), article_path(article) %> |
			<%= link_to t('articles.edit'), edit_article_path(article) %> |
			<%= link_to t('articles.delete'), article_path(article), method: :delete, data: {confirm: t('articles.deleting')} %>
		</p>

<hr />
<% end %>
