
<h3><%= @article.title %></h3>
<p><%= @article.text %></p>

<br />  <br /> 
<h3><%= t('articles.comments') %></h3>

<% @article.comments.each do |comment| %>
	<h4><%= comment.author %></h4>
	<p style="font-size: 15px"><%= comment.body %></p>
	<p style="font-size: 13px; color: gray">Created: <%= comment.created_at %></p>
	<hr /><br /> <br />
<% end %>

<% if user_signed_in? %>
	<h3><%= t('articles.add comment') %></h3>

	<%= form_for([@article, @article.comments.build]) do |f| %>

		<div>
			<%= f.text_area :body %>
		</div>	

		<br />

		<div>
			<%= f.submit %> <br />
		</div>	

	<% end %>

<% else %>
	<i>Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to leave comments.</i>
<% end %>

<hr/>