<h3><%= t('contacts.contact_us') %></h3>

<%= form_for :contact , url: contacts_path do |f| %>

	<% if @contact && @contact.errors.any? %>
		<div>
		<ul>
			<% @contact.errors.full_messages.each do |mess| %>
				<li><%= mess %></li>
			<% end %>
		</ul>
		</div>
	<% end %>

	<div>
		<%= f.label :email %> <br />
		<%= f.text_field :email %>
	</div>

	<br />

	<div>
		<%= f.label :message %> <br />
		<%= f.text_area :message %>
	</div>	

	<br />

	<div>
		<%= f.submit 'Send message' %> <br />
	</div>	

<% end %>