<h3>Contact us</h3>

<%= form_for :contact , url: contacts_path do |f| %>

	<div>
		<%= f.label :email %> <br />
		<%= f.text_field :email %>
	</div>

	<br />

	<div>
		<%= f.label :message %> <br />
		<%= f.text_area :message %>
	</div>	

	<br />

	<div>
		<%= f.submit 'Send message' %> <br />
	</div>	

<% end %>