<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <!-- Static navbar -->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      
        <p class="navbar-text" style="width: 80px; text-align: center; background-color: #eee"><%= link_to t('articles.articles'), articles_path, class: "navbar-link" %></p>
        <p class="navbar-text" style="width: 80px; text-align: center; background-color: #eee"><%= link_to t('articles.new'), new_article_path %></p>
        <p class="navbar-text navbar-right" style="width: 80px; text-align: center; background-color: #eee">
            <% if user_signed_in? %>
            <%= t('user_welcome') %>, <%= current_user.username %> <%= link_to t('user auth.sign out'), destroy_user_session_path, method: :delete %> 
            <% else %>
            <%= link_to t('user auth.sign in'), new_user_session_path %>
            <%end%>
        </p>
      </div>
    </nav>

    <div class="container">
 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div>
    
  </body>
</html>
